<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetProjects.WpfToolkit.DataVisualization" version="6.0.85" targetFramework="net48" />
  <package id="DotNetProjects.WpfToolkit.Input" version="6.0.85" targetFramework="net48" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net48" />
  <package id="EntityFramework.ru" version="6.2.0" targetFramework="net48" />
  <package id="Extended.Wpf.Toolkit" version="4.0.2" targetFramework="net48" />
  <package id="MaterialDesignColors" version="1.2.7" targetFramework="net48" />
  <package id="MaterialDesignThemes" version="3.2.0" targetFramework="net48" />
  <package id="Microsoft.UI.Xaml" version="2.5.0" targetFramework="net48" />
  <package id="WPFtoolkitFramework" version="1.0.7.5" targetFramework="net48" />
</packages>